* {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.m-0-15 {
    margin: 0 15px;
}

.calcul {
    height: fit-content;
    width: 400px;
    border: 1px solid black;
    margin: 50px auto;
    border-radius: 20px;
    background-color: rgb(48, 46, 46);
}

.screen {
    width: 380px;
    height: 100px;
    background-color: rgb(210, 210, 210);
    margin: 0 auto;
    margin-top: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 75px;
}

.result {
    width: 360px;
    font-family: 'Digital-7 Mono';
    margin: 0 10px;
    overflow: hidden;
    text-align: right;
}

.calcu {
    height: 460px;
    width: 370px;
    display: flex;
    margin: 20px auto;
}

.numbers {
    height: 360px;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
}

.symbols {
    height: 360px;
    width: 90px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.number {
    height: 84px;
    width: 84px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 246, 246);
    border-radius: 20px;
    margin: 3px;
    cursor: pointer;
}